@font-face {
  font-family: "apercu";
  src: url("/fonts/Typefesse_Claire-Obscure.woff2") format("woff2"),
    url("/fonts/Typefesse_Claire-Obscure.woff") format("woff");
}

body {
  font-family: apercu;
  font-size: 200px;
}
