@font-face {
  font-family: "apercu";
  src: url("/fonts/Apercu-Bold.woff") format("woff");
}

body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: apercu;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  width: 50%;
}

#textesuperpose{
  text-transform: uppercase;
  position: absolute;
  color:red;
}